<li>
    {{burger_name}}


    {{#if devoured}}<button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">Chow Time!</button>{{else}}{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">Delete!</button>
</li>